gunicorn>=20.1.0
attrs>=20.0
blinker>=1.4
certifi>=2020.0
charset-normalizer>=2.0
click>=7.0
click-plugins>=1.0
cligj>=0.5
colorama>=0.4
contourpy>=1.0
cycler>=0.10
fiona>=1.8
Flask>=1.0
fonttools>=4.0
geopandas>=0.8
idna>=2.5
itsdangerous>=1.1
Jinja2>=2.10
jsonpickle>=1.0
kiwisolver>=1.0
MarkupSafe>=1.1
matplotlib>=3.0
networkx>=2.5
numpy>=1.18
osmnx>=1.0,<1.10
packaging>=20.0
pandas>=1.0
pillow>=7.0
pyparsing>=2.4
pyproj>=2.6
python-dateutil>=2.8
pytz>=2020.1
requests>=2.25
scipy>=1.4
shapely>=1.7
six>=1.15
urllib3>=1.25
Werkzeug>=1.0