<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Application</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="helpModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>How to Use This Tool</h2>
    <ul>
      <li><strong>Plotting a Route:</strong> Click on the map twice to set the starting and ending points for your route.</li>
      <li><strong>Choose Data Type:</strong> Choose between "collected" accident data or "predicted" risk based on road properties.</li>
      <li><strong>Adjust Risk Coefficient:</strong> Use the slider to weigh the safety importance in the route calculation.</li>
      <li><strong>Keep Routes Alive:</strong> Enable this option to display multiple routes simultaneously.</li>
      <li><strong>Show Data:</strong> Plot accidents coordinates and/or roads risk scores on the map.</li>
    </ul>
    <div class="more-info">
      <h3>More Information</h3>
      <p>This routing algorithm was developed during a hackathon organized within the Greydient ITN project. For more information, please visit the <a href="https://www.greydient.eu/">Greydient website</a>.</p>
      <p>The objective was to incorporate safety considerations into the routing algorithm by using a database of recorded accidents. The initial step involved mapping the accident data onto the road network sourced from OpenStreetMap using a nearest neighbor search technique. This allowed for the calculation of the number of accidents encountered along each route, forming the basis of a cost function termed "collected data". Secondly, we established statistical correlations between road attributes (such as road type, speed limit, and number of lanes, all from OpenStreetMap) and the frequency of accidents. These statistics were used to assign a risk score to each road segment, thereby creating a more robust cost function, referred to as "predicted data", that compensates for non-representative data. The effectiveness of this approach is demonstrated by the reduction in unnecessary detours when switching from collected to predicted data.</p>
      <p><strong>Note:</strong> To be truly relevant, the accident data should be weighted by the traffic volume. This is not the case here, but it could be added in the future.</p>
      <p class="link-container">
        <a href="https://github.com/bonneted/safe_map", class="github-link">
          <i class="fa fa-github" style="color:white; font-size: 20px;"></i>
          Code
        </a>
        <a href="https://www.linkedin.com/company/itngreydient/", class="github-link">
          <i class="fa fa-linkedin-square" style="color:white; font-size: 20px;"></i>
          LinkedIn
        </a>
        <a href="https://www.greydient.eu/", class="github-link">
          <i class="fa fa-globe" style="color:white; font-size: 20px;"></i>
          Project
        </a>
      </p>
    </div>
  </div> 
</div>

<div class="control-panel">
    <button id="homeBtn">Home</button>

    <div class="control-group">
        <label for="dataTypeSelect">data type:</label>
        <select id="dataTypeSelect">
            <option value="num_accidents">collected</option>
            <option value="predicted_accidents">predicted</option>
        </select>
    </div>
    
    <div class="range-group">
        <span>shortest</span>
        <input type="range" id="alphaSlider" min="0" max="1" step="0.01" value="1">
        <span>safest</span>
    </div>
    
    <div class="control-group">
        <input type="checkbox" id="keepLinesAlive" name="keepLinesAlive">
        <label for="keepLinesAlive">keep routes alive</label>
        <input type="checkbox" id="showAccidentData" name="showAccidentData">
        <label for="keepLinesAlive">show data</label>
    </div>
    <button id="helpBtn">?</button>
</div>
<div id="mapid">
  <div id="loader" style="display: none;">
    <div class="loader">
      <span class="inner1"></span>
      <span class="inner2"></span>
      <span class="inner3"></span>
    </div>

</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
